<style type="text/css">
    body {
        background-image: url('../images/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<nav class="navbar navbar-dark bg-dark py-3">
    <a class="navbar-brand" href="/admin/login"> Logout</a>
</nav>
<h1 style="color:khaki">WELCOME ADMIN</h1>
<a href="/admin/customers" target="_blank"><button class="btn btn-primary">View Customers</button></a>
<a href="/admin/feedback" target="_blank"><button class="btn btn-primary">View Feedback</button></a>
<a href="/admin/complains" target="_blank"><button class="btn btn-primary">View Enquiries</button></a>